:root > * {
  --md-primary-fg-color: #004d40;
  --md-primary-fg-color--light: #4db6ac;
  --md-primary-fg-color--dark: #00796b;

  --md-typeset-a-color: var(--md-primary-fg-color--light);
  --md-accent-fg-color: var(--md-primary-fg-color--dark);
}
